*{
	margin: 0;
	padding: 0;
}

body{
	font: 16px/1.3 Verdana, sans-serif; 
	background: #333;
	color: #FFF;
}

main{
	position: relative;
	margin: auto;
	width: 1000px;
	overflow: hidden;
}

h1{
	margin: 15px auto;
	cursor: default;
}

#top_message{
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 300px;
	text-align: right;
}

.column{
	width:50%;
	float: left;
}

.block1{
	position: relative;
	margin:10px 5px;
	height: 160px;
	padding: 10px;
	background: #aaa;
	color: #FFF;
	border-style: solid;
	border-width: 2px;
}

.block2{
	height: 354px;
}

.block1 h2{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
	font-size:32px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
	color: #FFF;
	color: rgba(255, 255, 255, .7);
}

#task_generator{
	background: #009B58;
	border-color: #21BC79;
	border-top-left-radius: 5px;
}

#task_queue{
	background: #176DEE;
	border-color: #388EFF;
}

#cpu{
	background: #D7432D;
	border-color: #F8644E;
	border-top-right-radius: 5px;
}
#cpu h2{
	font-size: 48px;
}

#io_queue{
	background: #FFB600;
	border-color: #FFD721;
	border-bottom-right-radius: 5px;
}
#io_queue h2{
	left: 0;
	right: auto;
}

.task_list{
	list-style: none;
	height: 100%;
	overflow: auto;
}
#cpu .task_list{
	position: absolute;
	bottom: 10px;
	height: 46px;
}

.task_list li{
	margin: 5px;
	width: 36px;
	padding: 9px 0;
	height: 18px;
	line-height: 18px;
	float: left;
	border-radius: 36px;
	text-align: center;
	font-size: 10px;
	/*cursor: pointer;*/
}

.block1 label{
	display: block;
	margin: 5px auto;
}

.block1 label span, .block1 label input{
	display: inline-block;
}

.block1 label span{
	font-size: 12px;
}
.block1 label input{
	margin-left: 10px;
	width: 50px;
	height: 12px;
	line-height: 12px;
	padding: 5px;
	border: 0 none;
	border-bottom: 1px solid #FFF;
	border-radius: 5px;
	font-weight: bold;
	background: transparent;
	color: #FFF;
}

#task_generator label{
	text-align: right;
}